/* Todo: start media breakpoints -
    * @media (min-width: 1400)
    * @media (min-width: 1200px) and (max-width: 1399px)
    * @media (min-width: 992px) and (max-width: 1199px)
    * @media (min-width: 768px) and (max-width: 991px)
    * @media (min-width: 576px) and (max-width: 767px)
    * @media (max-width: 575px)
Todo: end */

/* Todo: Media query for screen (min-width: 1200px) */
@media screen and (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

/* Todo: Media query for screen (min-width: 1200px) and (max-width: 1399px)  */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    #header-section {
        padding: 50px 80px 45px;
    }

    .team-container {
        gap: 56px;
        padding: 85px 120px 100px;
    }
}

/* Todo: Media query for screen (min-width: 992px) and (max-width: 1199px) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    /* !=============================================== navbar part css start ======================================================= */
    #header-section {
        padding: 50px;
    }
    .navbar-brand {
        font-size: 2.8rem;
    }
    .navbar-nav {
        gap: 48px;
    }
    .nav-link {
        font-size: 1.1rem;
    }

    /* !=============================================== banner part css start ====================================================== */

    .banner-text-content h1 {
        font-size: 3.2rem;
        line-height: 68px;
    }
    .banner-text-content p {
        padding: 32px 12% 50px;
    }

    /* !================================================ team part css start ======================================================= */

    .team-container {
        gap: 58px;
        align-items: center;
        padding: 68px 60px 90px;
    }
    .team-text-container h2 {
        font-size: 2.6rem;
    }
}

/* Todo: Media query for screen (min-width: 768px) and (max-width: 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* !=============================================== navbar part css start ======================================================= */
    #header-section {
        padding: 40px 30px;
    }
    .navbar-nav {
        gap: 30px;
    }
    .navbar-brand {
        font-size: 2.2rem;
    }
    .nav-link {
        font-size: 1rem;
    }
    .btn {
        font-size: 1.15rem;
        padding: 16px 20px;
    }

    /* !=============================================== banner part css start ====================================================== */
    .banner-text-content {
        padding: 80px 0 50px;
    }
    .banner-text-content h1 {
        font-size: 2.8rem;
        line-height: 64px;
    }
    .banner-text-content p {
        padding: 32px 8%;
    }

    /* !================================================ team part css start ======================================================= */

    .team-container {
        gap: 40px;
        padding: 50px;
    }
    .team-img-container {
        gap: 1rem;
    }
    .team-text-container h2 {
        font-size: 2rem;
        line-height: 44px;
    }
    .team-text-container p {
        font-size: 0.9rem;
        line-height: 24px;
        padding: 18px 0 26px;
    }
}

/* Todo: Media query for screen (min-width: 576px) and (max-width: 767px) */
@media screen and (min-width: 576px) and (max-width: 767px) {
    /* !=============================================== navbar part css start ======================================================= */

    #header-section {
        padding: 40px 0 15px;
    }
    .navbar,
    .navbar-nav {
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }
    .navbar-brand {
        font-size: 2.4rem;
    }
    .nav-link {
        font-size: 1.1rem;
    }
    .btn {
        font-size: 1.1rem;
        padding: 16px 22px;
    }

    /* !=============================================== banner part css start ====================================================== */

    .banner-text-content {
        padding: 40px 15px 35px;
    }
    .banner-text-content h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .banner-text-content p {
        padding: 24px 30px 35px;
    }
    .banner-img {
        padding: 15px;
    }

    /* !================================================ team part css start ======================================================= */

    .team-container {
        padding: 40px 15px 60px;
        flex-direction: column;
        gap: 50px;
    }
    .flex-width {
        width: 100%;
    }
    .team-img-container {
        grid-template-columns: repeat(2, 1fr);
        order: 1;
        gap: 15px;
    }
    .feature-text-container {
        order: -1;
    }
    .team-text-container h2 {
        font-size: 2.2rem;
        line-height: 46px;
    }
    .team-text-container p {
        padding: 20px 20px 32px 0;
    }
}

/* Todo: Media query for screen (max-width: 575px) */
@media screen and (max-width: 575px) {
    /* !=============================================== navbar part css start ======================================================= */

    #header-section {
        padding: 35px 0 20px;
    }
    .navbar,
    .navbar-nav {
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }
    .navbar-brand {
        font-size: 1.8rem;
    }
    .nav-link {
        font-size: 1rem;
    }
    .btn {
        font-size: 1rem;
        padding: 16px 20px;
    }

    /* !=============================================== banner part css start ====================================================== */

    .banner-text-content {
        padding: 30px 15px;
    }
    .banner-text-content h1 {
        font-size: 2rem;
        line-height: 3rem;
    }
    .banner-text-content p {
        text-align: justify;
        padding: 20px 0 40px;
    }
    .banner-img {
        padding: 15px;
    }

    /* !================================================ team part css start ======================================================= */

    .team-container {
        padding: 40px 15px;
        flex-direction: column;
        gap: 50px;
    }
    .flex-width {
        width: 100%;
    }
    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
        order: 1;
        gap: 15px;
    }
    .feature-text-container {
        order: -1;
    }
    .team-text-container h2 {
        font-size: 2.2rem;
        line-height: 46px;
    }

    /* !====================================================================================================================== */

    .feature-text-container h2 {
        font-size: 2.4rem;
    }
    .feature-text-container p {
        padding: 1.5rem 0rem 0 0;
        text-align: justify;
    }

    /* !====================================================================================================================== */
}
