/* Todo: Add google font - work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Work Sans', sans-serif;
}

/* ****************************************************************************************************************** */

/* Todo: Common css start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}
/* Todo: Common css end */

/* ****************************************************************************************************************** */
