/* Todo: Add google font - work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/* ****************************************************************************************************************** */

/* Todo: Common css start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.primary-color {
    color: #ff900e;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.flex-width {
    width: 50%;
}

.btn {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    background: #ff900e;
    border: 1px solid transparent;
    transition: all linear 0.4s;
    padding: 1.25rem 1.5rem;
}

.btn:hover {
    color: #ff900e;
    border-color: #ff900e;
    background-color: rgba(255, 144, 14, 0.102);
}

/* ****************************************************************************************************************** */

/* Todo: Header part css start */
#header-section {
    padding: 50px 0 45px;
    background-color: rgba(255, 144, 14, 0.102);
}

/* Todo: Navbar css start */
.navbar {
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.3rem;
}

.nav-item {
    padding-left: 4.7rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    transition: all linear 0.4s;
}

.nav-link:hover {
    color: #ff900e;
}
/* Todo: Navbar css end */

/* Todo: Banner css start */
.banner-text-content {
    padding: 3.1rem 0;
    width: 60%;
    margin: 0 auto;
}

.banner-text-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.7rem;
}

.banner-text-content p,
.feature-text-container p {
    font-size: 1rem;
    line-height: 1.6rem;
    padding: 2.5rem 0 2rem;
}
/* Todo: Banner css end */

/* ****************************************************************************************************************** */

/* Todo: Team-feature css start */
.team-feature-container {
    padding: 5.3rem 3.75rem 8.1rem;
    gap: 4.75rem;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.feature-text-container h2 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.3rem;
}

.feature-text-container p {
    padding: 1.5rem 5.5rem 0 0;
}
/* Todo: Team-feature css end */
